@import "./globals";
@import "./variables";

.sect-1-home {
  padding: 20px 0 20px;
  p {
    color: $black700;
  }
  .container {
    .row {
      .col-md-6 {
        h1 {
          font-size: 52px;
          color: $mainColor;
          line-height: 1.4;
          font-weight: 400;
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 25px;
        }
        a {
          background-color: $lightGreen400;
          color: $green900;
          padding: 10px 25px;
          border-radius: 20px;
        }
      }
    }
  }
}


.sect-2-home{
  .container{
    margin: 36px, 136px, 73px, 136px;
    
  }
  img{
    border-radius:36px ;
  }
}


.sect-3-home{
  .sect-3-btn{
   background-color: $mainColor;
   text-align: center;
   padding-top: 10px;
   border-radius: 26px;
   color:$mainColor2;
   width: 244px;
   height: 52px;
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
   margin-top: 146px;
  }
  h1{
    line-height: 68px;
    font-size: 48px;
    font-weight: 500;
    width: 470px;
    height: 272px;
  }
}


.card{
  border: 1px solid  $lightGreen400;
  border-radius: 6px;
  margin-top: 24px;
  padding:20px;
  width:270px;
  height: 242px;
}


.sect-4-home{
  background-color: $mainColor;
  margin-top: 72px;

  h1{
    color:$mainColor2;
    font-size: 48px;
    line-height: 68px;
  }
  p{
    color:$mainColor2;
    margin: 18px 0 0 0;
    font-size: 18px;
    font-weight: 400;
  }
  a{
    display: block;
    background-color: $lightGreen400;
    color: $green900;
    text-align: center;
    margin: 24px 0 0 100px;
    padding-top: 10px;
    border-radius: 26px;
    width: 293px;
    font-size: 18px;
    height: 52px;
  }
}


.content-foot-right{
  padding-bottom: 48px;
  li{
    list-style: none;
    
  }
  a{
    color:$black700;
    margin-left: 20px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  img{
    margin-left: 10px;
    margin-top: 10px;
  }
}

.img-footer{
  img{
    margin-top: 74px;
  }
}

.footer{
  p{
    margin-top: 10px;
  }
}
