$button-background-color-1:  #1A4E8D;
$button-text-color-1: #FFFFFF;
$button-background-color-2: #9BEFE0;
$button-text-color-2: #116B5A;
$section-four-background-color: #1A4E8D;
$first-section-heading-color: #1A4E8D;
$third-section-heading-color: #171A1F;
$box-heading-color: #1A4E8D;
$box-text-color: #323842;
$nav-text-color: #424955;
$border-radius: 22px;
$font-family: Poppins, sans-serif;
$font-weight: 400;
$font-style: normal;
$font-family-2: Noto Sans;
$box-border-color:  1px solid #9BEFE0;
$box-border-radius: 6px;
$forth-section-btn-background-color: #9BEFE0;




@mixin nav(){
  padding-left: 139px;
  padding-right: 139px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
}

@mixin navListContainer(){
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

@mixin navList(){
  list-style-type: none;
  color: $nav-text-color;
  display: flex;
  justify-content: space-between;
  
}


@mixin navItem(){
  margin-left: 47px;
  font-size: 18px;
  white-space: nowrap;
  
}

@mixin blueButton(){
  background-color: $button-background-color-1;
  color: $button-text-color-1;
  border: none;
  border-radius: $border-radius;
  width: 113px;
  height: 44px;
  font-family: $font-family-2;
  cursor: pointer;
}

@mixin navLink(){
  text-decoration: none;
  color:$nav-text-color;
}

@mixin firstSection(){
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 132px;
}

@mixin firstTextContainer(){
margin-top: 203px;
}

@mixin firstSectBtn(){
  background-color: $button-background-color-2;
  color:$button-text-color-2;
  width: 261px;
  height: 52px;
  border-radius: 26px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-family: $font-family-2;

}

@mixin thirdSectionBtn(){
  background-color: $button-background-color-1;
  color:$button-text-color-1;
  width: 200px;
  height: 52px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: $font-family-2;

}

@mixin forthSectionBtn(){
  background-color: $forth-section-btn-background-color;
  width: 244px;
  height: 52px;
  border-radius: 26px;
  border: none;
  font-size: 18px;
  margin-left: 100px;
  font-family: $font-family-2;
  color:$button-text-color-2;
  cursor: pointer;
}










.nav-container{
  @include nav();
}

.nav-list-container{
  @include navListContainer()
}

.nav-list{
  @include navList()
}

.nav-item{
  @include navItem()
}

.btn-nav{
  @include blueButton()
  
}
  
.nav-link{
  @include navLink()
}

.first-section{
  @include firstSection()
}

.first-text-container{
  @include firstTextContainer()
}

.first-text-heading{
  color: $box-heading-color;
  font-size: 60px;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
}

.first-text-paragraph{
  color:$third-section-heading-color;
  font-size: 20px;
  font-family: $font-family-2;
}

.first-sect-btn{
 @include firstSectBtn()
}

.second-section{
  padding-left: 132px;
  padding-right: 132px;
  padding-top: 32px;
  padding-bottom: 73px;
}

.second-sect-img{
  border-radius: 36px ;
}


.third-section{
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 132px;
}

.third-sect-heading{
  color: $third-section-heading-color;
  font-size: 60px;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
}

.third-sect-btn{
@include thirdSectionBtn()  
}

.row-1{
  display: flex;
  
}

.row-2{
  display:flex;
  flex-direction: row;
}


.col-md-1, .col-md-2, .col-md-3, .col-md-4{
  border: $box-border-color;
  border-radius: $box-border-radius;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 80px;
  padding-top: 80px;
}

.forth-section{
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  padding-left: 132px;
  padding-right: 135px;
  padding-top: 47px;
  background-color: $box-heading-color;
}

.forth-section-btn{
  @include forthSectionBtn()
}


.forth-section-text{
  color:$button-text-color-1;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: 60px;
  margin-left: -40px;
  white-space: nowrap;

}

.forth-section-txt-container{
  padding-bottom: 62px;

}


.forth-section-paragraph{
  color: $button-text-color-1;
  font-family: $font-family-2;
  white-space: nowrap;
  margin-left: 58px;
  font-size: 20px;
}

.footer{
  display: flex;
  flex-direction: column;
}

.footer-logo{
  display: flex;
  justify-content: center;
  margin-top: 73px;
  margin-left: -40px;
}

.footer-links-container{
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 148px;
}

.media-links-container{
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 132px;
}

.footer-list{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.footer-list-item{
  margin-left: 10px;
}

.footer-icons{
  margin-left: 10px ;
}