@import "./variables";
@import "./globals";

.navbar {
  .container {
    .navbar-brand {
      img {
        width: 180px;
        height: 45px;
        object-fit: contain;
      }
    }
    .collapse {
      .navbar-nav {
        gap: 35px !important;
        .nav-item {
          a {
            font-weight: 400;
            font-size: 16px;
            color: $dark600;
            padding: 0;
            &:hover {
              color: $mainColor;
            }
          }
        }
      }
      .btn-nav {
        background: $mainColor;
        color: #fff;
        border-radius: 20px;
        border: none;
        padding: 7px 18px;
      }
    }
  }
}