
@import "./variables";
@import "./globals";


.sect-1-services {
	display: flex;
	padding-right: 107px;
	padding-left: 132px;
	padding-bottom: 72px;
	justify-content: space-between;
	h1{
    color: $mainColor;
	font-size: 52px;
	line-height: 74px;
	font-weight: 400;
	
}
  

}

.sect-2-services {
	display: flex;
	justify-content: space-between;
	background-color: $lightGreen200;
	height: 392px;
	width: 80%;
	margin: 0 auto;
	border-radius: 12px;
	padding: 0;
	.sect-2-container{
    padding-top: 76px;
	padding-left: 72px;
	.black-btn{
      margin-top: 24px;
}

.hour-price {
	color: $mainColor;
	font-size: 20px;
}

p {
	margin-top: 12px;
}
  }

img {
	border-radius: 12px;
}

a {
	display: block;
	background-color: $black700;
	color: $mainColor2;
	text-align: center;
	padding-top: 10px;
	width: 261px;
	height: 52px;
	font-size: 18px;
	border-radius: 26px;
}
}

.sect-3-services {
	display: flex;
	justify-content: space-between;
	background-color: $lightRed200;
	height: 392px;
	width: 80%;
	margin: 0 auto;
	border-radius: 12px;
	margin-top: 58px;
	padding: 0;
	.sect-3-container{
    padding-top: 76px;
	padding-left: 72px;
	.black-btn{
      margin-top: 24px;
}

.hour-price {
	color: $mainColor;
	font-size: 20px;
}

p {
	margin-top: 12px;
}
  }

a {
	display: block;
	background-color: $black700;
	color: $mainColor2;
	text-align: center;
	padding-top: 10px;
	width: 261px;
	height: 52px;
	font-size: 18px;
	border-radius: 26px;
}
}

.sect-4-services {
	display: flex;
	justify-content: space-between;
	background-color: $lightYellow200;
	height: 392px;
	width: 80%;
	margin: 0 auto;
	margin-top: 58px;
	border-radius: 12px;
	padding: 0;
	.sect-4-container{
  padding-top: 76px;
	padding-left: 72px;
	.black-btn{
    margin-top: 24px;
}

.hour-price {
	color: $mainColor;
	font-size: 20px;
}

p {
	margin-top: 12px;
}
 }

a {
	display: block;
	background-color: $black700;
	color: $mainColor2;
	text-align: center;
	padding-top: 10px;
	width: 261px;
	height: 52px;
	font-size: 18px;
	border-radius: 26px;
}
}

.sect-5-services {
	display: flex;
	justify-content: space-between;
	background-color: $lightGreen200;
	height: 392px;
	width: 80%;
	margin: 0 auto;
	border-radius: 12px;
	margin-top: 58px;
	padding: 0;
	.sect-5-container{
    padding-top: 76px;
	padding-left: 72px;
	.black-btn{
      margin-top: 24px;
}

.hour-price {
	color: $mainColor;
	font-size: 20px;
}

p {
	margin-top: 12px;
}
  }

a {
	display: block;
	background-color: $black700;
	color: $mainColor2;
	text-align: center;
	padding-top: 10px;
	width: 261px;
	height: 52px;
	font-size: 18px;
	border-radius: 26px;
}

img {
	padding-top: 27px;
}
}

.lower-btn-services {
	margin-left: 43%;
	a{
    display: block;
	margin-top: 60px;
	background-color: $mainColor2;
	color: $mainColor;
	border: 1px solid $mainColor;
	text-align: center;
	padding-top: 10px;
	width: 261px;
	height: 52px;
	font-size: 18px;
	border-radius: 26px;
}

}





