@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Font
$poppins: "Poppins", sans-serif;
$notoSans: "Noto Sans", sans-serif;

// Colors
$mainColor: #1a4e8d;
$mainColor2: #ffffff;

// Green
$lightGreen200: #f0fcfa;
$lightGreen300: #d7fdf3;
$lightGreen400: #9befe0;
$lightGreen500: #daf9f3;
$green900: #116b5a;

// Dark
$dark600: #424955;
$dark700: #323842;

// Black
$black700: #171a1f;

// Red
$lightRed200: #fff3f0;
$lightRed600: #ff8d6b;

// Yellow
$lightYellow200: #fffae7;
