@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 70px;
}

.sect-4-about {
  background-color: #1a4e8d;
  margin-top: 72px;
}

.sect-4-about h1 {
  color: #ffffff;
  font-size: 48px;
  line-height: 68px;
}

.sect-4-about p {
  color: #ffffff;
  margin: 18px 0 0 0;
  font-size: 18px;
  font-weight: 400;
}

.sect-4-about a {
  display: block;
  background-color: #9befe0;
  color: #116b5a;
  text-align: center;
  margin: 24px 0 0 100px;
  padding-top: 10px;
  border-radius: 26px;
  width: 293px;
  font-size: 18px;
  height: 52px;
}

.vertical-line {
  border-left: 1px solid #000; /* Adjust thickness and color as needed */
  height: 100px; /* Adjust height as needed */
  border: 1px solid #BCC1CA;
}

.sect-1-about {
  display: flex;
  flex-direction: column;
}
.sect-1-about button {
  background-color: #1a4e8d;
  color: #ffffff;
  width: 279px;
  height: 52px;
  border-radius: 26px;
  border: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-left: 40%;
}
.sect-1-about button h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 74px;
}
.sect-1-about .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 72px;
  margin-left: -65px;
}

.sect-1-img-text {
  display: flex;
  margin-right: 0;
}
.sect-1-img-text .cat-foto {
  margin-right: 267px;
  margin-left: 169px;
}

.sect-1-img-text-2 {
  display: flex;
  justify-content: space-between;
  margin: 0px 132px 36px 332px;
}
.sect-1-img-text-2 .number {
  color: #FF8D6B;
  font-size: 62px;
  line-height: 82px;
  font-weight: 400px;
}
.sect-1-img-text-2 .number-text {
  color: #9095A0;
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
}
.sect-1-img-text-2 .number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sect-2 {
  margin: 0 132px 0 132px;
}
.sect-2 img {
  border-radius: 36px;
  width: 1176px;
  height: 662px;
}

.sect-3 {
  display: flex;
  justify-content: space-between;
  padding: 72px 132px 52px 132px;
}
.sect-3 h2 {
  color: #1a4e8d;
  font-size: 48px;
  line-height: 68px;
  font-weight: 700;
}
.sect-3 li {
  list-style: none;
}
.sect-3 .sect-3-lower-txt {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #171a1f;
  margin: 24px 0 12px 0;
}
.sect-3 .sect-3-dog {
  margin-right: 19px;
}
.sect-3 .sect-3-txt-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.sect-3 .sect-3-txt-list .sect-3-list {
  padding-left: 0;
}

.sect-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px 132px 72px 132px;
}
.sect-team .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-heading {
  margin: 48px 540px 0 541px;
  color: #1a4e8d;
  font-weight: 700;
  line-height: 68px;
  font-size: 48px;
}/*# sourceMappingURL=about.css.map */