@import "./variables";
@import "./globals";


.content-foot-right {
  padding-bottom: 48px;
}
.content-foot-right li {
  list-style: none;
}
.content-foot-right a {
  color: $black700;
  margin-left: 20px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.content-foot-right img {
  margin-left: 10px;
  margin-top: 10px;
}

.img-footer img {
  margin-top: 74px;
}

.footer {
  padding: 0 148px 0 132px;
}
.footer p {
  margin-top: 10px;
}